/* Applique une police et un fond clair à toute la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
}

/* Style de l'en-tête */
header {
    background-color: #333; /* Fond sombre */
    color: white; /* Texte blanc */
    padding: 15px; /* Ajoute de l'espace autour du texte */
}

/* Style du menu de navigation */
nav ul {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0;
}

nav ul li {
    display: inline; /* Affiche les liens en ligne */
    margin: 0 10px; /* Ajoute un espacement entre les éléments */
}

nav a {
    color: white;
    text-decoration: none; /* Supprime le soulignement des liens */
}

/* Style du texte d'introduction */
.intro-text {
    font-size: 1.2em;
    color: #333;
    margin: 20px auto;
    max-width: 800px; /* Limite la largeur pour une meilleure lisibilité */
    text-align: left; /* Alignement du texte à gauche */
}

/* Style du lien vers la galerie */
.gallery-link {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
}

.gallery-link a {
    color: yellow;
    text-decoration: none;
}

.gallery-link a:hover {
    text-decoration: underline;
}

/* Style du footer */
footer {
    margin-top: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.zoom-image {
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.zoom-image:hover {
    transform: scale(1.05);
}